@CHARSET "UTF-8";

/**
 * CSS Reset
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	background: transparent;
}

small {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 80%;
	background: transparent;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

del {
	text-decoration: line-through;
}

/**
 * Element/tags
 */
html {
	overflow-y: scroll;
}

body {
	font-size: 100%;
	line-height: 1.4;
	font-family:Geneva,Verdana,'Bitstream Vera Sans','DejaVu Sans',sans-serif;
	background: #e5d9c3;
	margin: 0;
	padding: 0;
	color: #46423c;
}

ul, ol, dl {
}

h1 {
	font-family:Constantina,Georgia,'Nimbus Roman No9 L',serif;
}

h1, h2, h3, h4, h5, h6, p, table {
	padding: 3px 15px;
}

h1, h2, h3 {
	color: #46423c;
}

h1 {
	font-size: 1.7em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.0em;
}

a img {
	border: none;
}

td {
	padding: 5px;
}

input, textarea, select {
	margin-bottom: 15px;
}

/**
 * Links
 */
a:link {
	color: #054993;
	text-decoration: none;
}
a:visited {
	color: #054993;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	color: #2c2c2c;
	text-decoration: none;
}

/**
 * Layout divs
 */
#container {
	/* MS: total screen width */
	width: 960px;
	background: #ffffff;
	margin: 0 auto;
}

#header {
	background: #e5d9c3;
	padding-top: 30px;
}

#header img {
 	padding:0;
 	margin: 0;
 }

div.message {
	min-height: 25px;
	padding-left: 15px;
	background-color: #f9f7f2;
	text-align: center;
}

.sidebar {
	/* space between left and start of content */
	float: left;
	width: 10px;   /* was 180 pixels */   
	padding: 10px 0 20px 0;
	margin: 0 15px;
	overflow: hidden;
}

.content {
	/* Total scree width taken up by the actual content */
	padding: 10px 0 20px 0;
	width: 870px;
	float: left;
	overflow: hidden;
}

#footer {
	padding: 10px 0;
	background: #f9f7f2;
	position: relative;
}

/**
 * Styling
 */
.content ul, .content ol { 
	padding: 3px 15px 3px 20px; 
}

/**
 * Navigation
 */
 
#navigation {
	background: #e5d9c3;
	font-family:Constantina,Georgia,'Nimbus Roman No9 L',serif;
	padding-bottom: 5px;
}

ul.mainnav {
	list-style: none;
	padding-top: 5px;
}

ul.mainnav li {
	float: right;
}

ul.mainnav a, ul.mainnav a:visited {
	padding: 0 10px 0 10px;
	font-size: 1.3em;
	display: block;
	text-decoration: none;
	border-right: 1px solid #054993;
}

ul.mainnav li:first-child a, ul.mainnav li:first-child a:visited {
	border-right: none;
	padding-right: none;
}

ul.mainnav a:hover, ul.mainnav a:active, ul.mainnav a:focus {
	color: #2c2c2c;
}

ul.mainnav a.current {
	color: #2c2c2c;
}

ul.catnav {
	list-style: none;
	border-top: 1px solid #738498;
	margin-bottom: 15px;
}

ul.catnav li {
	border-right: 1px solid #738498;
	border-bottom: 1px solid #738498;
	border-left: 1px solid #738498;
}

ul.catnav a, ul.catnav a:visited {
	font-family:Constantina,Georgia,'Nimbus Roman No9 L',serif;
	font-weight:bold;
	padding: 5px 5px 5px 15px;
	display: block;
	text-decoration: none;
	background: #c3d2e5;
}

ul.catnav a:hover, ul.catnav a:active, ul.catnav a:focus {
	background: #e5d9c3;
	color: #2c2c2c;
}

/**
 * Buttons
 */

a.button, a.button:visited, 
button {
	border: 1px solid #738498;
	padding: 5px 10px;
	display: inline-block;
	text-decoration: none;
	background: #c3d2e5;
}

a.button:hover, a.button:active, a.button:focus,
button:hover, button:active, button:focus {
	background: #e5d9c3;
	color: #2c2c2c;
}

button {
	margin-left: 25px;
	margin-right: 25px;
	font-size: 120%;
}

ul.ulfancy a.button.edit, ul.ulfancy a.button.edit:visited {
	font-size: 80%;
	font-weight: normal;
	padding: 2px 3px;
	margin-right: 10px;
	float: right;
}

h1 a.button, h1 a.button:visited {
	font-size: 60%;
	font-weight: normal;
	padding: 7px 8px;
	float: right;
	font-family:Geneva,Verdana,'Bitstream Vera Sans','DejaVu Sans',sans-serif;
}

h2 a.button, h2 a.button:visited {
	font-size: 70%;
	font-weight: normal;
	padding: 2px 3px;
	float: right;
	margin-left: 10px;
}

h3 a.button, h3 a.button:visited {
	font-size: 100%;
	font-weight: normal;
	padding: 7px 8px;
	float: right;
	margin-left: 10px;
}

/**
 * Utility Classes
 */
.fltrt {
	float: right;
}

.fltlft {
	float: left;
}

.imageright {
	float: right;
	margin-left: 10px;
}

.imageleft {
	float: left;
	margin-right: 10px;
}

.clearfloat {
	clear:both;
}

.element-invisible {
	height: 0;
	top: -3000em;
	position: absolute;
}

/**
 * Styled UL
 */
ul.ulfancy {
	list-style: none;
	padding:0;
	margin-top: 20px;
}

ul.ulfancy div.list-photo {
	float: left;
	padding: 10px;
	margin-right: 10px;
	background-color: #f1ebe0;
}

ul.ulfancy li.row0 div.list-photo {
	background-color: #f9f7f2;
}

ul.ulfancy h2 {
	font-size: 1.2em;
}

ul.ulfancy li {
	margin: 0;
	list-style: none;
	background-color: #f9f7f2;
}

ul.ulfancy li.row0 {
	background-color: #f1ebe0;
}

/**
 * Form fields
 */
form ul {
 	list-style: none;
}
 
form label {
 	width: 30em;
 	display: inline-block;
 	font-weight: bold;
}

form label.required:after {
 	content: " *";
}
 
fieldset {
	background-color: #f9f7f2;
}